@import 'styles/variables';

.search {
    padding: 3.2rem 2.4rem 2.4rem;
    width: 45rem;

    .field {
        border: 2px solid $color-accent;

        .label {
            color: $color-accent;
        }

        input {
            color: $color-text-primary;
        }
    }
}

.options {
    border-top: 1px solid #f2f2f2;
    max-height: 21.4rem;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .list {
        .airport {
            padding: 1.2rem 2.4rem;
            cursor: pointer;
            color: $color-text-primary;

            & p:first-child {
                font-weight: 500;
                margin-bottom: 0.2rem;

                span {
                    font-weight: 300;
                }
            }

            & P:nth-child(2) {
                font-size: 1.2rem;
                color: #777;
            }

            &:hover,
            &.selected {
                background-color: #edf4fd;
            }
        }
    }
}
