@import 'variables';

.container {
    max-width: 110rem;
    margin-inline: auto;
    padding-inline: 2.4rem;

    // TEMP
    padding-top: 12.8rem;
    min-height: 100vh;
}

.flightField {
    position: relative;

    background-color: $color-white;
    border-radius: 8px;
    padding: 2.4rem;

    .label {
        position: absolute;
        top: -10px;
        left: 12px;

        font-size: 1.4rem;
        font-weight: 600;

        background-color: $color-white;
        padding: 0.2rem 1.2rem;
    }
}
