@import 'styles/variables';

.fields {
    background-color: $color-white;
    border-radius: 16px;
    padding: 5.2rem 3.2rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2.4rem;
    column-gap: 1.4rem;
    max-width: 77rem;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
